@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #2b292a;
  --text-color: #f3f1f5;
  --primary-color: #77757f;
  --secondary-color: #81848a;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  height: 100vh;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--background-color);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
